body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}
h1{
    color: #417EE4;
    text-decoration: underline 5px grey;
}

.nav{
    position: fixed;
    top:50px;
    left:50px;
    width: 250px;
    height: 82%;
    border-radius: 20px;
    background-color: #111111;
}

#foto{
    position: fixed;
    left:90px;
    top:70px;
    width: 150px;
    height: 150px; 
    border-radius: 50%;
    border: 5px solid #417EE4;
  }
  #ifsul{
    position: fixed;
    left:100px;
    top:315px;
    width: 150px;
    height: 150px;
  }
  #loc{
      position: fixed;
      left:150px;
      top:575px;
      width: 50px;
      height: 50px;
  }
.nome{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    top: 230px;
    left:75px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #417EE4;
    padding-bottom: 15px;;
    border-bottom: 2px solid black;
    text-align: center;
}
.bcc{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    top: 450px;
    left:75px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: #417EE4;
    text-align: center;
}
.local{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    top: 625px;
    left:75px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: #417EE4;
    text-align: center;
}
.av{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    top: 675px;
    left:75px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: #417EE4;
    text-align: center;
}
.midias{
    position: absolute;
    top:675px;
    padding-top:20px; 
    border-top: 2px solid black;  
}
.content{
    position: fixed;
    left:325px;
    top:50px;
    border-radius:20px;
    width:80%;
    height:82%;
    background: white;
    overflow: hidden;
}
.navigation{
    position:absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
.bar1{
    width: 70px;
    height: 17px;
    border: 2px solid #417EE4;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.bar2{
    width: 70px;
    height: 17px;
    border: 2px solid #417EE4;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.bar3{
    width: 70px;
    height: 17px;
    border: 2px solid #417EE4;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.bar1:hover{
    background-color: #417EE4;
}
.bar2:hover{
    background-color: #417EE4;
}
.bar3:hover{
    background-color: #417EE4;
}

input{
    display: none;
}
.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slide1 p{
    padding-right: 50px;
    padding-left: 50px;
    text-indent: 50px;
}
.slide2 p{
    padding-right: 50px;
    padding-left: 50px;
    text-indent: 50px;
}
.slide3 p{
    padding-right: 50px;
    padding-left: 50px;
    text-indent: 50px;
}
.slide1{
    width: 20%;
    transition: 0.5s;
    
}
.slide2{
    width: 20%;
    transition: 0.5s;
}
.slide3{
    width: 20%;
    transition: 0.5s;
}
#stt{
    position: relative;
    left:50%;
    top:40px;
    transform: translate(-50%);
    width: 1300px;
    height: 200px;
}
#slide1:checked ~ .s1{
    margin:0;
}

#slide2:checked ~ .s1{
    margin-left: -20%;   
}
#slide3:checked ~ .s1{
    margin-left: -40%;
}
.s1{
 font-size: 35px;
 text-align: justify;
 
}
.s2{
    font-size: 35px;
    text-align: justify;
   }
.s3{
    font-size: 35px;
    text-align: justify;
   }
input{
    display: none;
}
@media (max-width: 1920px){
    .content{
        position: fixed;
        left:325px;
        top:50px;
        border-radius:20px;
        width:70%;
        height:90%;
        background: white;
        overflow: hidden;
    }
    .nav{
        position: fixed;
        top:50px;
        left:50px;
        width: 250px;
        height: 90%;
        border-radius: 20px;
        background-color: #111111;
    }
    .midias{
        position: absolute;
        top:85%;
        padding-top:20px; 
        border-top: 2px solid black;  
    }
    .bcc{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 50%;
        left:75px;
        width: 200px;
        height: 50px;
        font-size: 18px;
        color: #417EE4;
        text-align: center;
    }
    .av{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 75%;
        left:75px;
        width: 200px;
        height: 50px;
        font-size: 20px;
        color: #417EE4;
        text-align: center;
    }
    .local{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 65%;
        left:75px;
        width: 200px;
        height: 50px;
        font-size: 18px;
        color: #417EE4;
        text-align: center;
    }
    .content p{
        font-size: 40px;
    }
    .content h1{
        font-size: 50px;
    }
    #stt{
        position: relative;
        left:50%;
        transform: translate(-50%);
        width: 1000px;
        height: 150px;
    }
    #loc{
        position: fixed;
        left:150px;
        top:60%;
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 1680px){
    .content{
        position: fixed;
        left:325px;
        top:50px;
        border-radius:20px;
        width:70%;
        height:90%;
        background: white;
        overflow: hidden;
    }
    .nav{
        position: fixed;
        top:50px;
        left:50px;
        width: 15%;
        height: 90%;
        border-radius: 20px;
        background-color: #111111;
    }
    .av{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 74%;
        left:75px;
        width: 200px;
        height: 50px;
        font-size: 20px;
        color: #417EE4;
        text-align: center;
    }
    .midias{
        position: absolute;
        top:83%;
        padding-top:20px; 
        border-top: 2px solid black;  
    }
    .bcc{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 50%;
        left:75px;
        width: 200px;
        height: 50px;
        font-size: 18px;
        color: #417EE4;
        text-align: center;
    }
    .local{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 65%;
        left:75px;
        width: 200px;
        height: 50px;
        font-size: 18px;
        color: #417EE4;
        text-align: center;
    }
    .content p{
        font-size: 40px;
    }
    .content h1{
        font-size: 50px;
    }
    #stt{
        position: relative;
        left:50%;
        transform: translate(-50%);
        width: 1000px;
        height: 150px;
    }
    #loc{
        position: fixed;
        left:160px;
        top:63%;
        width: 30px;
        height: 30px;
    }
}
@media(max-width: 1440px){
    .content{
        position: fixed;
        left:325px;
        top:50px;
        border-radius:20px;
        width:70%;
        height:82%;
        background: white;
        overflow: hidden;
    }
    .nav{
        position: fixed;
        top:50px;
        left:50px;
        width: 250px;
        height: 82%;
        border-radius: 20px;
        background-color: #111111; 
    }
    .bcc{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 52%;
        left:75px;
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    .av{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 67%;
        left:75px;
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    .content p{
        font-size: 30px;
    }
    .content h1{
        font-size: 40px;
    }
    .local{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 61%;
        left:75px;
        width: 200px;
        height: 50px;
        font-size: 18px;
        color: #417EE4;
        text-align: center;
    }
    .midias{
        position: absolute;
        top:80%;
        padding-top:20px; 
        border-top: 2px solid black;  
    }
    #ifsul{
        position: fixed;
        left:120px;
        top:40%;
        width: 110px;
        height: 110px;
      }
      #loc{
          position: fixed;
          left:160px;
          top:59%;
          width: 30px;
          height: 30px;
      }
      #stt{
        position: relative;
        left:50%;
        transform: translate(-50%);
        width: 900px;
        height: 150px;
    }
}
@media(max-width: 1366px){
    .content{
        position: fixed;
        left:325px;
        top:50px;
        border-radius:20px;
        width:70%;
        height:88%;
        background: white;
        overflow: hidden;
    }
    .content p{
        font-size: 25px;
    }
    .nav{
        position: fixed;
        top:50px;
        left:50px;
        width: 250px;
        height: 88%;
        border-radius: 20px;
        background-color: #111111; 
    }
    .midias{
        position: absolute;
        top:80%;
        padding-top:20px; 
        border-top: 2px solid black;  
    }
    .bcc{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 395px;
        left:75px;
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    .local{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 65%;
        left:75px;
        width: 200px;
        height: 50px;
        font-size: 18px;
        color: #417EE4;
        text-align: center;
    }
    .av{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 480px;
        left:75px;
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    #ifsul{
        position: fixed;
        left:125px;
        top:305px;
        width: 100px;
        height: 100px;
      }
      #loc{
          position: fixed;
          left:160px;
          top:450px;
          width: 30px;
          height: 30px;
      }
      #stt{
        position: relative;
        left:50%;
        transform: translate(-50%);
        width: 900px;
        height: 150px;
    }
}
@media(max-width: 1024px){
    .content{
        position: fixed;
        left:325px;
        top:50px;
        border-radius:20px;
        width:60%;
        height:90%;
        background: white;
        overflow: hidden;
    }
    .nav{
        position: fixed;
        top:50px;
        left:50px;
        width: 250px;
        height: 90%;
        border-radius: 20px;
        background-color: #111111; 
    }
    .content p{
        font-size: 25px;
    }
    .content h1{
        font-size: 40px;
    }
    .midias{
        position: absolute;
        top:550px;
        padding-top:20px; 
        border-top: 2px solid black;  
    }
    .bcc{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 400px;
        left:75px;
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    .local{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 500px;
        left:75px;
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    .av{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 550px;
        left:75px;
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    #ifsul{
        position: fixed;
        left:120px;
        top:310px;
        width: 100px;
        height: 100px;
      }
      #loc{
          position: fixed;
          left:160px;
          top:475px;
          width: 30px;
          height: 30px;
      }
      #stt{
        position: relative;
        left:50%;
        top:100px;
        transform: translate(-50%);
        width: 550px;
        height: 100px;
    }
}
@media(max-width: 800px){
    .content{
        position: fixed;
        left:325px;
        top:50px;
        border-radius:20px;
        width:50%;
        height:88%;
        background: white;
        overflow: hidden;
    }
    .content p{
        font-size: 15px;
    }
    .content h1{
        font-size: 30px;
    }
    .nav{
        position: fixed;
        top:50px;
        left:50px;
        width: 250px;
        height: 88%;
        border-radius: 20px;
        background-color: #111111; 
    }
    .midias{
        position: absolute;
        top:340px;
        padding-top:10px; 
    }
    .bcc{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 370px;
        left:-375px;
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    .local{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 465px;
        left:-475px;
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    .av{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 105px;
        left:-475px;
        width: 200px;
        height: 50px;
        font-size: 10px;
        color: #417EE4;
        text-align: center;
    }
    #ifsul{
        position: fixed;
        left:140px;
        top:310px;
        width: 75px;
        height: 75px;
      }
      #loc{
          position: fixed;
          left:-160px;
          top:455px;
          width: 20px;
          height: 20px;
      }
      #stt{
        position: relative;
        left:505px;
        top:100px;
        transform: translate(-50%);
        width: 550px;
        height: 100px;
    }
    .bar3{
        position: absolute;
        left:900px;
        width: 0px;
        height: 0px;
        border: 2px solid #417EE4;
        margin: 6px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s;
    } 
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media(max-width: 568px){
    .content{
        position: absolute;
        left:50px;
        top:700px;
        border-radius:20px;
        width:80%;
        height:550px;
        background: white;
    }
    .content p{
        font-size: 15px;
    }
    .content h1{
        font-size: 30px;
    }
    .nav{
        position: absolute;
        top:50px;
        left:50%;
        transform: translate(-50%);
        width: 250px;
        height: 600px;
        border-radius: 20px;
        background-color: #111111;  
    }
    .nome{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 170px;
        left:50%;
        transform: translate(-50%);
        width: 200px;
        height: 50px;
        font-size: 25px;
        color: #417EE4;
        padding-bottom: 15px;;
        border-bottom: 2px solid black;
        text-align: center;
    }
    .midias{
        position: absolute;
        top:80%;
        padding-top:10px; 
    }
    .bcc{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 60%;
        left:50%;
        transform: translate(-50%);
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    .local{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 465px;
        left:-375px;
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    .av{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top:70%;
        left:50%;
        transform: translate(-50%);
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    #ifsul{
        position: fixed;
        left:50%;
        transform: translate(-50%);
        top:250px;
        width: 100px;
        height: 100px;
      }
      #loc{
          position: fixed;
          left:-160px;
          top:455px;
          width: 20px;
          height: 20px;
      }
      #foto{
        position: fixed;
        left:50%;
        transform: translate(-50%);
        top:30px;
        width: 150px;
        height: 150px; 
        border-radius: 50%;
        border: 5px solid #417EE4;
      }
      #stt{
        position: relative;
        left:505px;
        top:100px;
        transform: translate(-50%);
        width: 550px;
        height: 100px;
    }
    .bar3{
        position: absolute;
        left:900px;
        width: 0px;
        height: 0px;
        border: 2px solid #417EE4;
        margin: 6px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s;
    } 

}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media(max-width: 667px){
    .content{
        position: absolute;
        left:50px;
        top:700px;
        border-radius:20px;
        width:80%;
        height:550px;
        background: white;
    }
    .content p{
        font-size: 15px;
    }
    .content h1{
        font-size: 30px;
    }
    .nav{
        position: absolute;
        top:50px;
        left:50%;
        transform: translate(-50%);
        width: 250px;
        height: 600px;
        border-radius: 20px;
        background-color: #111111; 
    }
    .nome{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 170px;
        left:50%;
        transform: translate(-50%);
        width: 200px;
        height: 50px;
        font-size: 25px;
        color: #417EE4;
        padding-bottom: 15px;;
        border-bottom: 2px solid black;
        text-align: center;
    }
    .midias{
        position: absolute;
        top:80%;
        padding-top:10px; 
    }
    .bcc{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 60%;
        left:50%;
        transform: translate(-50%);
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    .local{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 465px;
        left:-375px;
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    .av{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top:70%;
        left:50%;
        transform: translate(-50%);
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    #ifsul{
        position: fixed;
        left:50%;
        transform: translate(-50%);
        top:250px;
        width: 100px;
        height: 100px;
      }
      #loc{
          position: fixed;
          left:-160px;
          top:455px;
          width: 20px;
          height: 20px;
      }
      #foto{
        position: fixed;
        left:50%;
        transform: translate(-50%);
        top:30px;
        width: 150px;
        height: 150px; 
        border-radius: 50%;
        border: 5px solid #417EE4;
      }
      #stt{
        position: relative;
        left:505px;
        top:100px;
        transform: translate(-50%);
        width: 550px;
        height: 100px;
    }
    .bar3{
        position: absolute;
        left:900px;
        width: 0px;
        height: 0px;
        border: 2px solid #417EE4;
        margin: 6px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s;
    } 

}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
@media(max-width: 736px){
    .content{
        position: absolute;
        left:50px;
        top:700px;
        border-radius:20px;
        width:80%;
        height:550px;
        background: white;
    }
    .content p{
        font-size: 15px;
    }
    .content h1{
        font-size: 30px;
    }
    .nav{
        position: absolute;
        top:50px;
        left:50%;
        transform: translate(-50%);
        width: 250px;
        height: 600px;
        border-radius: 20px;
        background-color: #111111; 
    }
    .nome{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 170px;
        left:50%;
        transform: translate(-50%);
        width: 200px;
        height: 50px;
        font-size: 25px;
        color: #417EE4;
        padding-bottom: 15px;;
        border-bottom: 2px solid black;
        text-align: center;
    }
    .midias{
        position: absolute;
        top:80%;
        padding-top:10px; 
    }
    .bcc{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 60%;
        left:50%;
        transform: translate(-50%);
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    .local{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top: 465px;
        left:-375px;
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    .av{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: fixed;
        top:70%;
        left:50%;
        transform: translate(-50%);
        width: 200px;
        height: 50px;
        font-size: 15px;
        color: #417EE4;
        text-align: center;
    }
    #ifsul{
        position: fixed;
        left:50%;
        transform: translate(-50%);
        top:250px;
        width: 100px;
        height: 100px;
      }
      #loc{
          position: fixed;
          left:-560px;
          top:455px;
          width: 20px;
          height: 20px;
      }
      #foto{
        position: fixed;
        left:50%;
        transform: translate(-50%);
        top:30px;
        width: 150px;
        height: 150px; 
        border-radius: 50%;
        border: 5px solid #417EE4;
      }
      #stt{
        position: relative;
        left:505px;
        top:100px;
        transform: translate(-50%);
        width: 550px;
        height: 100px;
    }
    .bar3{
        position: absolute;
        left:900px;
        width: 0px;
        height: 0px;
        border: 2px solid #417EE4;
        margin: 6px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s;
    } 

}
